.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/backgrounds/htpgame.jpg');
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 90%;
  height: 80%;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 10px double rgb(255, 255, 255);
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  animation: imgIN 2s normal both;
}

.background {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.htp {
  display: flex;
  height: 80%;
  width: 45%;
  color: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 10px double rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  animation: imgIN 2s normal both;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageRandom {
  height: 300px;
  filter: brightness(0);
}

.imageResult {
  height: 200px;
  width: 200px;
}

.titleResult {
  letter-spacing: 10px;
  text-transform: uppercase;
}

.titleImage {
  position: absolute;
  top: 0;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.options {
  display: flex;
  height: 80%;
  width: 45%;
  color: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 10px double rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  animation: imgIN 2s normal both;
}

.namesOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonName {
  text-transform: uppercase;
  cursor: pointer;
  width: 200px;
  height: 38px;
  background: red;
  color: white;
  margin: 5px;
  border-radius: 20px;
  font-size: 12px;
  box-shadow: inset 0 0 20px #000;
  border: 1px solid #000;
}

.buttonName:hover {
  animation: backgr 0.7s both;
}

@keyframes backgr {
  0% {
    background: white;
    color: red;
    box-shadow: 0;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.6),
      -2px -2px 2px 2px rgba(0, 0, 0, 0.6);
  }

  100% {
    background: rgb(255, 0, 0);
    background: linear-gradient(
      346deg,
      rgba(255, 0, 0, 1) 32%,
      rgba(255, 255, 255, 0.5214460784313726) 50%,
      rgba(0, 0, 0, 1) 68%
    );
    color: white;
    box-shadow: 10px 12px 14px 14px rgba(255, 255, 255, 0.6),
      -10px -15px 9px 10px rgba(0, 0, 0, 0.6);
  }
}

@keyframes imgIN {
  0% {
    transform: translate(0, 0) scale(0);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}


@media screen and (max-width: 1170px) {
  .main {
    width: 90%;
    height: 80%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .htp {
    height: 40%;
    width: 80%;
    justify-content: center;
    align-items: center;
  }
  .imageRandom {
    height: 320px;
    height: 300px;
  }
  .imageResult {
    height: 220px;
    width: 220px;
  }
  .options {
    height: 40%;
    width: 80%;
    justify-content: center;
    align-items: center;
  }

  .buttonName {
    font-size: 0.8em;
    width: 200px;
    margin: 2px;
    flex-direction: row;
  }
}

@media screen and (max-width: 810px) {
  .main {
    width: 95%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .htp {
    height: 50%;
    width: 98%;
    justify-content: center;
    align-items: center;
  }
  .imageRandom {
    height: 250px;
  }
  .imageResult {
    height: 120px;
    width: 120px;
  }
  .options {
    height: 50%;
    width: 98%;
    justify-content: center;
    align-items: center;
  }
  .buttonName {
    font-size: 0.8em;
    width: 200px;
    margin: 2px;
    flex-direction: row;
  }
  .namesOptionsPlayHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}