/* CreatePokemon.module.css */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.formContainer {
  position: relative;
  display: flex;
  width: 42%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  background-image: url("/src/assets/backgrounds/design2-min.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  transform: scale(0.5);
  animation: fade-in 0.8s ease-in-out forwards;
  box-shadow: 6px 5px 5px #0c2327;
  border: 1px groove #23626d;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.formHeader {
  font-size: 1rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.formLabel {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  color: white;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.formInput {
  width: 100%;
  max-width: 40vh;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 35vh;
  margin-bottom: 5px;
}

.formButton {
  position: absolute;
  right: 55%;
  bottom: 0;
  margin-bottom: 2%;
  padding: 10px 20px;
  background-image: linear-gradient(-45deg, darkblue, #0056b3, darkblue);
  color: #fff;
  border: groove 1px black;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  box-shadow: 0 0 2px rgb(162, 162, 162);
  transition: all 0.1s ease;
}

.formButton:hover {
  filter: brightness(130%);
  box-shadow: 0 0 4px rgb(255, 255, 255);
  transform: translateY(-1px); 
}

.formButton:active {
  transform: translateY(1px); 
  box-shadow: none;
}

.checkboxGroup {
  display: inline-block;
  max-width: 20vh;
  padding: 1em;
  gap: 5px;
  font-size: 12px;
  color: #666;
  margin-left: 6vh;
}

.message {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 15%;
  top: 0;
  font-size: 13px;
  color: rgb(229, 255, 0);
  text-shadow: 0 0 10px rgba(0, 0, 0);
}

.typeImage {
  filter: grayscale(100%);
  border-radius: 8px;
  min-width: 4em;
  max-width: 4em;
  border: solid 2px orange;
}

.typeImage:hover {
  filter: unset;
  box-shadow: unset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.typeImageSelected {
  filter: grayscale(0);
  filter: saturate(110%);
  transform: scale(1.2);
  border: solid 1px yellow;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.errorMessage {
  font-family: Verdana, sans-serif;
  font-weight: bold;
  position: absolute;
  left: 0;
  right: 10%;
  top: 0;
  font-size: 13px;
  color: rgb(229, 255, 0);
  text-shadow: 0 0 10px rgba(0, 0, 0);
}

.checkboxLabel {
  color: rgb(198, 198, 198);
  font-size: 12px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
}

.rangeValue {
  font-size: 12px;
  width: max-content;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  margin: 0 auto;
  margin-top: -5px;
  font-weight: bold;
  color: rgb(72, 255, 0);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.navLink {
  position: absolute;
  right: 0;
  top: 0;
  color: white;
  font-size: 30px;
  padding: 10px 15px;
}

.navLink:hover {
  color: #c0df3e;
}

.navLink:active{
  transform: scale(0.8);
  filter:brightness(0.8);
}
