/* Cuadro de Texto */
.info {
  position: relative;
  top: 250px;
  display: none;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
}

/* Imagen de Card */
.imgPoke {
  position: relative;
  max-width: 280px;
  height: 280px;
  z-index: -1;
}

.card {
  display: flex;
  height: 300px;
  width: 280px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.3px);
  -webkit-backdrop-filter: blur(6.3px);
  box-shadow: 0 0 10px #fff, inset 0 0 20px #fff;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 700px) {
  .card {
    height: 150px;
    width: 140px;
  }
  .imgPoke {
    max-width: 140px;
    height: 140px;
  }
  .info {
    top: 130px;
    font-size: 0.5em;
  }
}

.containerTypes {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.typesImg {
  width: 30px;
}

.imgAndName {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Efecto fondo solido */
.card:hover {
  animation: 1s backgroundColor both;
}

/* Efecto onda expansiva */
.card:hover .imgPoke {
  backdrop-filter: blur(20px);
}

/* Efecto cuadro de Texto */
.card:hover .info {
  display: flex;
  animation: 1s boxInfo both;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/* Efecto imagen Card*/
.card:hover .imgPoke {
  animation: 1s scaleIN forwards;
}

/* Efecto desplazar texto desde arriba al hacer hover*/
@keyframes boxInfo {
  0% {
    transform: translate(0, -15em);
  }
  100% {
    transform: translate(0);
    border-radius: 16px;
    backdrop-filter: blur(6.3px);
    box-shadow: 0 0 10px #fff, inset 0 0 100px #fff;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

/* Efecto imagen card, transportar arriba y agrandar al hacer hover*/
@keyframes scaleIN {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(0, -5em) scale(1.2);
  }
}

/* Efecto fondo solido cuando hace hover en card*/
@keyframes backgroundColor {
  0% {
  }

  100% {
    border-radius: 50% 50% 20% 20%;
    box-shadow: 0 0 10px #af9f9f, inset 0 0 80px #000;
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(6.3px);
  }
}
