/* Card.module.css */

.cardContainer {
  display: inline-block;
  flex-wrap: wrap;
  margin-top: 6%;
}

.card {
  display: inline-block;
  padding: 10px;
  border-radius: 0 20px 0 20px;
  overflow: hidden;
  background-size: 100% 100%;
  height: 33vh;
  min-width: 25vh;
  max-width: 25vh;
  transition: transform 0.4s, box-shadow 0.3s ease;
  margin-bottom: -11vh;
  margin-left: 6vh;
  border: 1px groove #23626d;
  box-shadow: 6px 5px 5px #0c2327;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff;
}

.body{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 2vh;
  margin: unset;
  margin-top: -12vh;
}

.pokemonImage {
  margin: -3vh;
  background-size: cover;
  height: max-content;
  width: max-content;
  max-height: 20vh;
  /* z-index: 99999999; */
  /* border-radius: 8px; */
  margin-bottom: 4vh;
}

.pokemonName {
  /* margin-top: -10.2vh; */
  /* margin-bottom: 3.6vh; */
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.pokemonName:hover {
  color: #c0df3e;
}

.types {
  display: block;
  text-align: center;
  justify-content: center;
  margin-top: -4vh;
}

.type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px 4px;
  margin: 4px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  font-size: 0.8rem;
}

.typeSpan {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}
.typeImage {
  width: 20px;
  height: 20px;
  margin-right: 2vh;
  border-radius: 16px;
}
.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-inline: -1vh;
}
.ids {
  margin-top: -4px;
  /* margin-bottom: 2vh; */
  /* margin-right: 75%; */
  /* margin-inline: 40%; */
  font-size: 0.5em;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.9);
}
.created {
  /* margin-top: -4vh;
  margin-bottom: 2vh; */
  /* margin-right: 75%; */
  /* margin-inline: 40%; */
  font-size: 0.5em;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.deleteIcon {
  /* margin-top: -1%;
  margin-bottom: 2%; */
  width: 21px;
  height: 20px;
  cursor: pointer;
}

.deleteIcon:hover {
  transform: scale(1.05);
  filter: brightness(1.2);
}

.deleteIcon:active {
  box-shadow: unset;
  transform: scale(0.8);
  filter: saturate(0.9);
}
.groupShiny {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1vh;

  /* margin-bottom: -2vh; */
  /* align-items: center; */
}
.star {
  margin-bottom: 3vh;
  /* position: absolute; */
}


.shiny {
  margin-top: 3vh;
  margin-bottom: -1vh;
  color: rgb(29, 29, 29);
  font-size: 10px;
  font-weight: bolder;
  font-family: Verdana, sans-serif;
  text-shadow: 0px 0px 8px rgb(255, 255, 255);
 writing-mode:vertical-rl;

}

.checkShiny {
  margin-right: 6px;
}

.createdImage {
  filter: saturate(150%);
  filter: brightness(150%);
  filter: sepia(0.5);
}

.link {
  text-decoration: none;
}
/* 
Estilos dinamicos para los fondos de las cartas
*/

.bugBackground {
  background-image: url("../../assets/types/background/bug1.jpg");
}

.grassBackground {
  background-image: url("../../assets/types/background/grass1.jpg");
}

.poisonBackground {
  background-image: url("../../assets/types/background/poison1.jpg");
}

.darkBackground {
  background-image: url("../../assets/types/background/dark1.jpg");
}

.dragonBackground {
  background-image: url("../../assets/types/background/dragon1.jpg");
}

.electricBackground {
  background-image: url("../../assets/types/background/electric1.jpg");
}

.fairyBackground {
  background-image: url("../../assets/types/background/fairy1.jpg");
}

.fightingBackground {
  background-image: url("../../assets/types/background/fighting1.jpg");
}

.fireBackground {
  background-image: url("../../assets/types/background/fire1.jpg");
}

.flyingBackground {
  background-image: url("../../assets/types/background/flying1.jpg");
}

.ghostBackground {
  background-image: url("../../assets/types/background/ghost1.jpg");
}

.groundBackground {
  background-image: url("../../assets/types/background/ground1.jpg");
}

.iceBackground {
  background-image: url("../../assets/types/background/ice1.jpg");
}

.normalBackground {
  background-image: url("../../assets/types/background/normal1.jpg");
}

.psychicBackground {
  background-image: url("../../assets/types/background/psychic1.jpg");
}

.rockBackground {
  background-image: url("../../assets/types/background/rock1.jpg");
}

.shadowBackground {
  background-image: url("../../assets/types/background/shadow1.jpg");
}

.steelBackground {
  background-image: url("../../assets/types/background/steel1.jpg");
}

.unknownBackground {
  background-image: url("../../assets/types/background/unknown1.jpg");
}

.waterBackground {
  background-image: url("../../assets/types/background/water1.jpg");
}
