/* Card.module.css */

.cardContainer{
  display: inline-block;
  flex-wrap: wrap;
  margin-top: 6%;
}

.card {
  display: inline-block;
  padding: 10px;  
  border-radius: 0 20px 0 20px;
  overflow: hidden;
  background-size: cover;
  height: 33vh;
  min-width: 25vh;
  max-width: 25vh;
  transition: transform 0.4s, box-shadow 0.3s ease;
  margin-bottom: -11vh;
  margin-left: 6vh;
  border: 1px groove #23626d;
  box-shadow: 6px 5px 5px #0c2327;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff;
}

.pokemonImage {
  margin-top: -3.5vh;
  height: 20vh;
  width: 20vh;
  border-radius: 8px;

}

.pokemonName {
  margin-top: -2vh;
  margin-bottom: 3vh;
  cursor: pointer;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  color: white;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.9);
}

.pokemonName:hover {
  color: #c0df3e;
}

.types {
  display: block;
  text-align: center;
  justify-content: center;
}

.type {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  padding: 2px 4px;
  margin: 4px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  font-size: 0.8rem;
}

.typeImage {
  width: 20px;
  height: 20px;
  margin-right: 2vh;
  border-radius: 16px;
}

.typeLabel{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}


.deleteIcon {
  margin-left: 90%;
  margin-top: 3%;
  width: 20px;
  height: 15px;
  cursor: pointer;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px 1px 5px 1px;
  padding: 1px;
}

.deleteIcon:active {
  transform: scale(0.8);
  filter:saturate(0.9);
}

/* 
Estilos dinamicos para los fondos de las cartas
*/

.bugBackground {
  background-image: url("../../assets/types/background/bug.jpg");
}

.grassBackground {
  background-image: url("../../assets/types/background/grass.jpg");
}

.poisonBackground {
  background-image: url("../../assets/types/background/poison.jpg");
}

.darkBackground {
  background-image: url("../../assets/types/background/dark.jpg");
}

.dragonBackground {
  background-image: url("../../assets/types/background/dragon.jpg");
}

.electricBackground {
  background-image: url("../../assets/types/background/electric.jpg");
}

.fairyBackground {
  background-image: url("../../assets/types/background/fairy.jpg");
}

.fightingBackground {
  background-image: url("../../assets/types/background/fighting.jpg");
}

.fireBackground {
  background-image: url("../../assets/types/background/fire.jpg");
}

.flyingBackground {
  background-image: url("../../assets/types/background/flying.jpg");
}

.ghostBackground {
  background-image: url("../../assets/types/background/ghost.jpg");
}

.groundBackground {
  background-image: url("../../assets/types/background/ground.jpg");
}

.iceBackground {
  background-image: url("../../assets/types/background/ice.jpg");
}

.normalBackground {
  background-image: url("../../assets/types/background/normal.jpg");
}

.psychicBackground {
  background-image: url("../../assets/types/background/psychic.jpg");
}

.rockBackground {
  background-image: url("../../assets/types/background/rock.jpg");
}

.shadowBackground {
  background-image: url("../../assets/types/background/shadow.jpg");
}

.steelBackground {
  background-image: url("../../assets/types/background/steel.jpg");
}

.unknownBackground {
  background-image: url("../../assets/types/background/unknown.jpg");
}

.waterBackground {
  background-image: url("../../assets/types/background/water.jpg");
}

