.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInput {
  opacity: 0.8;
  padding: 0.4rem;
  border: 1px solid #ffffff;
  border-radius: 6px;
  margin-right: 0.5vh;
}

.searchBarBtns {
  color: white;
  width: 10em;
  height: 2rem;
  box-shadow: inset 0px 0px 14px -3px #f2fadc;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  border: 1px solid #ffffff;
  display: inline-block;
  cursor: pointer;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1.5px 1.5px 0px #000000;
}

.searchBarBtns:hover {
  color: yellow;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2) 5%,
    rgba(113, 113, 113, 0.2) 100%
  );
  background-color: rgba(70, 70, 70, 0.5);
}

.searchBarBtns:active {
  position: relative;
  top: 1px;
}

/*?  RESPONSIVE MODE   */

@media only screen and (max-width: 576px) {
  .searchForm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
    margin-top: 4vh;
    padding: unset;
    width: 60vh;
    margin-left: 30vh;
  }

  .searchInput {
    width: 50%;
    height: 3vh;
    font-size: 10px;
    margin-bottom: 4px;
  }

  .searchBarBtns {
    padding: unset;
    width: 5em;
    height: 3vh;
    font-size: 10px;
  }


}
