/* Details.module.css */
.background{
    background-image: url("/src/assets/backgrounds/backDetail.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: max-content;
}

.detailsContainer {
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.header{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  text-align: center;
  align-items: center;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.pokemonName,
.pokemonId {
  font-family: "fuentePokemon", "Courier New", Courier, monospace;
  color: #ffcb05;
  text-shadow: 3px 2px 2px #213770;
  letter-spacing: 0.5em;
  font-size: 1.5em;
}

.pokemonId{
  margin-top: 3vh;
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(255, 255, 255);
}

.pokemonDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-width: 100vh;
}

.pokemonInfo {
  color: white;
  font-size: 1em;
  margin: 0 auto;
  margin-bottom: 2vh;
  width: 60vh;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.pokemonImg {
  max-width: 60vh;
  max-height: 60vh;
  margin-top: -15vh;
  margin-right: 10vh;
}

/* 
footer
*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 55%;
  max-width: 10%;
}

/* Types */

.type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 4px;
  margin-inline: 5vh;
}

.typeImage {
  width: 35px;
  height: 35px;
  margin-right: 2vh;
  border-radius:50%;
  border: solid rgb(170, 170, 170) 2px;
}

.typeSpan {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 1em;
  color: rgb(197, 197, 197);
  text-shadow: 2px 1px 2px #213770;
}

.mybutton{
  padding: 8px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.5em;
  width: 2.5em;
  cursor: pointer;
  border: groove gray 1px;
  margin-right: 8vh;
}

.mybutton:hover{
  color: yellow;
  box-shadow: 0 0 2px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateY(-1%);
}

.mybutton:active{
  transform: translateY(1%);
  filter: invert(20%);
}
