.error {
  height: 100%;
  width: 100%;
}

.myh1 {
  font-size: 72px;
  color: #0066ff;
}

.myh2 {
  font-size: 36px;
}

.myp {
  font-size: 18px;
}

.mybutton {
  padding: 10px 20px;
  font-size: 28px;
  background-color: #277280;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.mybutton:hover {
  filter: brightness(120%);
  color: #ffcb05;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

}


