.error {
  height: 100%;
  width: 100%;
}

.myh1 {
  margin-top: 16vh;
  font-size: 72px;
  color: #0066ff;
}

.myh2 {
  font-size: 36px;
}

.myp {
  font-size: 18px;
}

.mybutton {
  width: 40px;
  margin: 0;
  padding: 6px 10px;
  font-size: 28px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  filter: brightness(90%);
  transition: transform 0.2s ease, filter 0.2s ease;
}

.mybutton:hover {
  filter: brightness(90%);
}

.mybutton:active {
  transform: translateY(2px);
}



